@import '../../../vars.scss';

.dashboard-proyect {
    height: auto;
    margin: $space-2 0;

    background-color:  $color-background-light;
    color: $color-text;

    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    overflow: auto;
    padding: $space-2 $space-3;

    border-radius: $space-1;
}

.dashboard-proyect button {
    margin: 0;
    margin-left: $space-1;
}



@media only screen and (min-device-width: 320px) and (max-device-width: 556px) {
    .dashboard-proyect-actions{
        position: static;
        margin: $space-1 auto;

        button.primary{
            margin-left: 0;
        }
    }
    .dashboard-proyect{
        h1{
            width: 90%;
        }
        height: auto;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 556px){
    .dashboard-create_proyect-modal{
        min-width: 0;
        max-width: calc( 95vw - 42px );
    }

    .dashboard-proyect {
        flex-direction: column;
        align-items: flex-start;
    }

    .dashboard-proyect-actions {
        margin-top: 1em;
        margin-right: 0;
        margin-left: auto;
    }
}

.dashboard-proyect--pill {
    display: inline-block;

    font-size: $font-size-s;
    font-weight: normal;
    padding: .1em 1em;

    border-radius: 1em / 50%;

    background-color: $color-secondary;
    color: $color-background;

    margin-left: 1em;
}