@import "../../../vars.scss";

#welcome{
    background-color: $color-background;
    position: relative;
    height: 500px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px 0 0 30px;

    svg {
        width: 250px;
        height: 250px;
    }
}

#welcome__title{
    font-size: 2em;
    color: $color-text-dark;
    margin: $space-1;
    text-align: center;
}

.welcome__button{
    background-color: $color-secondary;
    border-radius: $space-3 0 0 $space-3;
    margin: 0;
    font-size: $font-size-btn-s;
    width: 130px;
}

.welcome__button--active{
    background-color: $color-background-dark;
    color: $color-text;
}

#loggin__button{
    position: absolute;
    bottom: 82px;
    right: 0;
    text-align: right;
}

#singIn__button{
    position: absolute;
    bottom: 42px;
    right: 0;
    text-align: right;
}