@import"../../../../vars.scss";

#tickets{
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 1;
}

#tickets-actions{
    display: flex; 
    margin-left: $space-3;
}

.tickets__tab{
    font-size: $font-size;
    color: $color-text-dark;
    padding: $space-1 $space-3;
    border-radius: 10px 10px 0 0;
    cursor: pointer;
}

.tickets__tab--active{
    background: $color-background-dark;
    color: $color-primary;
}

#tickets-panel{
    background: $color-background-dark;
    flex: 1;
    height: 100%;
    padding: $space-3;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 556px){
    #tickets-actions{
        max-width: 90%;
        .tickets__tab{
            flex: 1;
            padding: $space-1;
            text-align: center;
        }
    }
}