* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none !important;
    color: inherit;
}

button {
    padding: 3px;
    margin: 2px;
}

#popup-root {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    pointer-events: none;
    
    z-index: 100;
}

#proyect_view {
    margin: 0 1em 0 1em;
}

#dashboard {
    margin: 0 1em 0 1em;
}