@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import './vars.scss';

* {
    margin: 0;
    padding: 0;

    font-family: $font-family;
    font-size: $font-size;
}

h1 {
    font-size: $font-size-l;
    font-weight: bold;
    color: $color-text-dark;
}

h2 {
    font-size: $font-size-ml;
    font-weight: bold;
    color: $color-text;
}

h3 {
    font-size: $font-size-m;
    font-weight: 500;
    color: $color-text;
}

p{
    font-size: $font-size;
    color: $color-text;
}

body {
    background-color: $color-background;
}

a {
    text-decoration: none !important;
    color: inherit;
}

button {
    height: 40px;
    padding: 0 $space-3;
    margin: $space-1;

    border-style: none;
    border-radius: $space-1;

    font-weight: bold;
    font-size: $font-size;

    cursor: pointer;
}

button.small {
    height: 30px;
    font-size: $font-size-s;
}

button.primary {
    background-color: $color-primary;
    color: $color-btn-text-primary;
}

button.secondary {
    background-color: $color-secondary;
    color: $color-background;
}

button.warn {
    background-color: $color-warn;
    color: $color-btn-text-primary;
}

input {
    height: 32px;
    padding: 0 $space-3;

    border-radius: 16px;
    border-style: solid;
    border-width: 2px;
    border-color: $color-background-light;

    background-color: $color-background-light;

    color: $color-text;
}

input::placeholder {
    color: $color-text-dark;
}

#popup-root {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    pointer-events: none;
    
    z-index: 100;
}

#proyect_view {
    margin: 0 1em 0 1em;
}

#dashboard {
    margin: 0 1em 0 1em;
}

input.warn{
    border-color: $color-warn;
    color: $color-warn;
}

span.warn{
    margin: 0 !important;
    width: 100%;
    height: $font-size-s;
    display: inline-block;
    padding-left: $space-3;
    color: $color-warn;
    font-size: $font-size-s;
}

span.fine{
    font-weight: 400;
}