#navbar {
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 1em 2em 1em 2em;
}

#navbar-username {
    margin-left: auto;
}

#navbar-user-controls {
    position: relative;
}