@import '../../vars.scss';

#dashboard {
    margin: 0 $space-3;
}

#dashboard-actions {
    display: flex;
    flex-direction: row-reverse;
    padding: 0;
    margin: $space-2 0 $space-3 0;
}

#dashboard-actions button {
    margin: 0;
    flex-grow: 0;
}

#dashboard-actions input {
    height: 36px;
    border-radius: 18px;
    
    flex-grow: 1;
    margin-right: $space-3;
}


@media only screen and (min-device-width: 320px) and (max-device-width: 556px) {
    #dashboard-actions{
        flex-direction: column;
        
        button{
            width: 100%;
            margin: $space-1 0;
        }

        input{
            margin: $space-1 0;
        }
    }
}