@import "../../vars.scss";

#userSettings{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    padding: 0 $space-3;

    h2{
        width: 100%;
    }
    #userSettings-actions{
        display: flex;
        justify-content: flex-end;
        width: 100%;
        height: 40px;
    }

    #userSettings-form{
        display: flex;
        flex-direction: column;
        width: 400px;
        button{
            margin-top: $space-3;
            width: 150px;
        }
        *{
            margin-top: $space-2;
        }
    }

}