@import "../../vars.scss";

#userSettings{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    padding: 0 $space-3;

    h2{
        width: 100%;
    }
    #userSettings-actions{
        display: flex;
        justify-content: flex-end;
        width: 100%;
        height: 40px;
    }

    #userSettings-form{
        display: flex;
        flex-direction: column;
        width: 400px;

        button{
            margin-top: $space-3;
        }

        input {
            margin-top: $space-2;
        }
    }

}

@media only screen and (min-device-width: 320px) and (max-device-width: 556px), 
screen and (min-device-height: 320px) and (max-device-height: 556px) {
    #userSettings{
        #userSettings-form{
            max-width: 90%;
            
        } 
    }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 556px){
    #userSettings-actions{
        margin: $space-1 0;
        button{
            width: 90vw;
            height: 100%;
            margin: 0;
        }
    }
}