@import '../../vars.scss';

#navbar {
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: $space-2 $space-3;
}

#navbar-username {
    margin-left: auto;
}

#navbar-user-controls {
    position: relative;
}

#navbar--user-button {
    background-color: transparent;
    color: $color-text;
}