#navbar-user-dropdown {
    position: absolute;

    width: 150px;

    margin: 1em;

    border: 1px solid #d6d6d6;

    pointer-events: all;
}

.navbar-user-dropdown-item {
    padding: .5em;
    
    cursor: pointer;
}

.navbar-user-dropdown-item:hover {
    background-color: #d6d6d6;
}