@import"../../../../../vars.scss";

.ticket{
    height: 140px;
    width: 250px;
    background-color: $color-background;
    margin: 0 $space-1 $space-1 0;
    border-radius: $space-2;
    padding: $space-2;
    position: relative;

    cursor: pointer;

    p.text{
        color: $color-text-dark;
        text-align: justify;
        margin-top: 10px;
        word-wrap: break-word;
    }

    .ticket__owner{
        position: absolute;
        top: $space-2;
        right: $space-2;
        background-color: $color-text-dark;
        padding: 2px $space-3;
        border-radius: 15px;
        
        span{
            font-size: 14px;
            color: $color-background;
        }
    }

    .ticket__owner--active{
        background-color: $color-secondary;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 556px){
    .ticket{
        margin-right: 0;
        margin-bottom: $space-2;
        width: calc( 90vw - 14px );
    }
    p.text{
        max-width: 80vw;
    }
}