@import '../../../vars.scss';

.dashboard-create_proyect-modal {
    display: flex;
    flex-direction: column;

    border-radius: $space-2;
    background-color: $color-background;
}

#create-proyect-modal-input {
    margin: $space-1 0;
}

#create-proyect-modal-actions {
    display: flex;
    flex-direction: row-reverse;
}

#create-proyect-modal-close {
    margin-right: 0;
}