@import"../../../vars.scss";

#projectSettings{
    margin: 0  $space-3;

    #projectSettings-actions{
        width: 100%;
        display: flex;
        justify-content: flex-end;

        button {
            margin-left: $space-1;
        }
    }

    #projectSettings-options{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 400px;
        margin: $space-2 auto;

        input, button {
            margin-top: $space-2;
        }

        h3 {
            margin-top: $space-3;
        }

        input{
            width: 100%;
        }

        span.warn{
            width: 100%;
        }

        hr{
            margin-top: $space-3;
            width: 100%;
        }

        #colaborator-list{
            *{
                margin: 0;
            }
        }
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 556px){
    #projectSettings{
        #projectSettings-actions{
            width: 100%;
            flex-direction: column;
            a{
                width: 100%;
            }
            button{
                width: 100%;
                margin: $space-1 0;
            }
        }
        #projectSettings-options{
            margin-top: $space-1;
            width: 100%;
            input{
                max-width: calc( 100% - 42px);
            }
        }
    }
}

