$color-primary:             #0080FF;
$color-secondary:           #37FF94;
$color-warn:                #FF2D58;
$color-background:          #212127;
$color-background-dark:     #17171C;
$color-background-light:    #2B2C36;
$color-text:                #F1F1F1;
$color-text-dark:           #9A9A9A;
$color-btn-text-primary:    #FFFFFF;

$font-family:               'Roboto', sans-serif;

$space-1:                   7px;
$space-2:                   14px;
$space-3:                   21px;

$font-size-s:               0.68em;
$font-size:                 1em;
$font-size-m:               1.37em;
$font-size-ml:              1.5em;
$font-size-l:               1.75em;
$font-size-btn-s:           0.87em;