@import"../../../vars.scss";

#proyect_view{
    display: flex;
    flex-direction: column;
    flex: 1;
    h2{
        margin-left: $space-3;
    }
}

#proyect_view-actions {
    display: flex;
    flex-direction: row-reverse;
    margin-right: $space-3;
}

#proyectView-add {
    height: 50px;
    width: 50px;

    border-radius: 50%;

    position: absolute;

    bottom: 2em;
    right: 2em;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    box-shadow: 10px 10px 17px -7px rgba(0,0,0,0.75);
}
