@import"../../../../vars.scss";

#popup-ticket{
    height: 500px;
    width: 400px;
    border-radius: $space-3;
    background-color: $color-background;
    max-width: 90vw;
    max-height: 90vh;
    padding: 0;
    display: flex;
    flex-direction: column;

    h2{
        margin: $space-3 0 0 $space-3;
    }

    h3{
        color: $color-text-dark;
    }

    textarea{
        background: transparent;
        width: 100%;
        resize: none;
        border: none;
        color: $color-text-dark;
    }

    textarea.header{
        height: 60px;
    }

    textarea.description{
        height: 180px;
    }

    p{
        height: 60px;
        color: $color-text-dark;
    }

    hr{
        color: $color-text-dark;
    }

    button.secondary{
        align-self: center;
        margin-bottom: $space-3;
    }

    #popup-actions{
        height: 40px;
        display: flex;
        align-items: center;
        padding: $space-1 $space-3;
        
        button {
            flex: 1;
            margin-left: $space-1;
        }

        button.warn {
            flex: 0;
        }

        button:first-child {
            margin: 0;
        }
    }


    .popup__ticket--close{
        background-color: $color-text-dark;
        color: $color-background;

        font-size: $font-size-m;
        position: absolute;
        right: $space-1;
        top: $space-1;
        padding: 0;
        border-radius: 50%;
        height: 30px;
        width: 30px;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .popup__content{
        background-color: $color-background-dark;
        display: flex;
        flex-direction: column;
        flex: 1;
        padding: $space-2;
        margin: $space-1 0 $space-3 0;
        *{
            margin: $space-1 0;
        }
    }
}

@media only screen and (min-device-height: 320px) and (max-device-height: 556px){
    #popup-ticket {
        h2{
            margin: $space-2 0 0 $space-2;
        }
        textarea.header {    
            height: 30px;
        }
        textarea.description{
            height: 80px;
        }
        .popup__content{
            margin: $space-2 0;
        }
    }

    


}