@import "../../vars.scss";


#entry{
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-color: #000000;
}

.entry--container{
    background-color: $color-background-dark;
    position: relative;
    height: 500px;
    width: 358px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0 30px 30px 0;
    padding: 0 $space-3;

    *{
        margin-top: $space-1;
    }

    button{
        margin-top: $space-3;
        width: 150px;
        background: $color-primary;
        color: $color-text;
    }
}

.entry--input{
    width: 308px;
}